* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Proxima Nova;
  src: url(/fonts/FontsFree-Net-proxima_nova_reg-webfont.ttf);
}

@font-face {
  font-family: Oswald;
  src: url(/fonts/Oswald-Regular.ttf);
}

html {
  max-width: 100vw;
  max-height: 100vh;
}

body {
  background-color: white;
}

a {
  text-decoration: none;
  color: #585858;
  font-family: Proxima Nova;
  letter-spacing: 1px;
  outline: none;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  background-color: white;
  position: fixed;
  width: 100%;
  height: 74px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: relative;
  transform: translateY(-100%);
  transition: all 0.3s;
  z-index: 2;
}

nav {
  width: auto;
}

nav ul {
  height: 100%;
  display: flex;
  list-style-type: none;
}

nav ul li {
  width: 100px;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.nav-link {
  line-height: 74px;
  font-size: 14px;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  bottom: 0px;
  height: 3px;
  background: #46c4d1;
  transition: all 0.3s;
}

.active::after {
  width: 100%;
}

.nav-link:hover::after {
  width: 100%;
}

.logo {
  position: absolute;
  left: 20px;
}

section {
  width: 100%;
  height: 100vh;
}

#video {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

#home {
  z-index: 999999;
  height: 100vh;
  background-color: rgba(126, 128, 127, 0.5);
}

.home-image {
  z-index: -99999;
  background-color: rgba(0, 0, 0, 0);
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

#about {
  z-index: 1;
  height: auto;
  background-color: white;
}

.section-home {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#div-logo {
  width: 430px;
  height: 200px;
}
#img-sin {
  width: 100%;
  height: 100%;
}

#divNav {
  height: 100px;
}

.div-nav-link::after {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 3px;
  background: #46c4d1;
  transition: all 0.3s;
}
.div-nav-link:hover::after {
  width: 100%;
}
.ul-home {
  list-style-type: none;
  display: flex;
}
.ul-home > li {
  text-align: center;
  width: 120px;
  padding: 10px 0 0 0;
}
.div-nav-link {
  color: white;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #fff;
}

#about,
#services {
  height: auto;
}

#contact {
  z-index: 1;
  height: auto;
  padding-bottom: 80px;
  background-color: white;
}

#myVideo {
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  position: fixed;
  z-index: -9999;
}

.about-me {
  text-align: center;
}

.about-me h1 {
  font-family: Oswald;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #242428;
  font-size: 36px;
  line-height: 1;
  padding-top: 40px;
  padding-bottom: 30px;
}

.about-me p {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: #515256;
  margin: 0 200px 0 200px;
  padding-bottom: 100px;
}

.usluge {
  text-align: center;
}

.usluge h1 {
  background-color: #f0f6f8;
  font-family: Oswald;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #242428;
  font-size: 36px;
  line-height: 1;
  padding-top: 40px;
  padding-bottom: 60px;
}

.terapija {
  height: 475px;
  background-color: #f0f6f8;
  justify-content: center;
  display: flex;
}

.terapija__img {
  height: 100%;
  flex: 1;
}

.terapija__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 15px;
}

.terapija__info {
  flex: 1;
  display: flex;
  align-items: center;
}

.terapija__info h1 {
  font-family: Oswald;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #242428;
  font-size: 24px;
  margin: 0px 50px 40px 40px;
}

.terapija__info h1 span {
  position: relative;
  border-bottom: 2px solid #46c4d1;
}

.terapija__info p {
  font-family: "Roboto", sans-serif;
  color: #515256;
  padding: 0 50px 40px 40px;
  font-size: 18px;
}
.container-contact {
  position: relative;
}

.lokacija {
  text-align: center;
  text-transform: uppercase;
  font-family: Oswald;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #242428;
  font-size: 36px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #46c4d1;
}

.info {
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 420px;
  height: 423px;
  top: 80px;
  right: 120px;
}

.class-container-klinike {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.info-Bulevar {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.class-container-klinike h2 {
  padding: 50px 0 20px 0;
  font-family: Proxima Nova;
  font-weight: 400;
  letter-spacing: 0px;
}

.class-container-klinike .adresa {
  padding: 0 0 20px 0;
  font-family: Proxima Nova;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0px;
  color: #46c4d1;
  cursor: pointer;
}

.class-container-klinike .radno-vreme {
  padding: 20px 0 0 0;
  font-family: Proxima Nova;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0px;
  color: #444444;
}

.class-container-klinike .tel {
  font-family: Proxima Nova;
  font-size: 17px;
  letter-spacing: 0px;
  color: #444444;
}

.class-container-klinike p {
  font-family: Proxima Nova;
  font-size: 17px;
  letter-spacing: 0px;
  color: #444444;
}

.info-Novi-Beograd {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.info-New-Now {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.bars {
  position: absolute;
  right: 0;
  height: 100%;
  width: 50px;
  display: none;
  align-items: center;
  font-size: 35px;
  cursor: pointer;
  transition: all ease-in-out 0.8s;
}

@media only screen and (max-width: 1000px) {
  .terapija {
    height: auto;
    display: flex;
    flex-direction: column !important;
  }

  .reverse {
    flex-direction: column-reverse !important;
  }

  .terapija__info h1 {
    margin-top: 40px;
  }

  .bars {
    display: flex;
    transition: all ease-in-out 0.8s;
  }

  nav {
    width: 100%;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 74px;
    transition: all ease-in-out 0.8s;
  }

  .active {
    height: 160px;
    transition: all ease-in-out 0.8s;
  }

  nav ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  nav ul li {
    background-color: white;
    width: 100%;
    height: 40px;
    position: initial;
  }

  nav ul li a {
    line-height: 40px !important;
    position: relative;
  }

  .nav-link::after {
    bottom: -9px;
    right: 0;
  }

  .about-me p {
    margin: 0 30px;
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 770px) {
  #video {
    display: none;
  }

  .class-container-klinike {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .info-Bulevar,
  .info-Novi-Beograd,
  .info-New-Now {
    width: 200px;
  }

  .logo {
    left: 0;
  }

  .terapija__img img {
    border-radius: 0;
  }

  #div-logo {
    width: 330px;
    height: 130px;
  }

  #home {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
